* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #e6e6e6;
}
header {
	position: absolute;
	top: 50px;
	width: 100%;
	display: flex;
	align-items: center;
	z-index: 10;
}

a {
	text-decoration: none;
	color: white;
}
nav {
	margin: 0 0 0 auto;
}

ul{
	list-style: none;
	margin: 0;
	display: flex;
  z-index: 10;
}
li {
	margin: 0 0 0 15px;
	font-size: 14px;
}
ul.menu-group {
	padding: 48px;
}

.logo{z-index: 10;
	position: absolute;
	width:50%;
	top:3rem;
	left: 3rem;
}
.topIcon {
	z-index: 10;
	position: absolute;
	width: 5%;
	top: 26rem;
	left: 50%;
}
.KV{position: relative;}
.KV img{
 width:100%;
  position: absolute;
  opacity: 0;
  transition: opacity .1s;
  z-index: 0;
}
.KV img.current {
  opacity: 1;
}


